/* My cart */
.myCart{
    width: 100%;
    margin-bottom: 65px;
}

.myCart__left{
    display: flex;
    flex-direction: column;

}

.myCart__menu{
    margin-bottom: 20px;
    
}

.myCart__menu-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu-list-item:hover .menu-list-item-link{
    color: var(--orange-color);
    transition: var(--smooth);

}

.menu-list-item-link{
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: var(--title-text-color);
}

.link-select{
    color: var(--text-color);
}

.myCart__title{
    font-size: 48px;
    font-weight: 700;
    color: var(--text-color);
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 20px;
}

.myCart__listproduct{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.myCart__listproduct-item{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.listproduct-item-image{
    width: 32%;
    height: 200px;
    background-color: white;
    border-radius: 4px;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.listproduct-item-img{
    width: 100%;
    height: 100px;
    border-radius: 4px;
    margin-right: 20px;
}

.listproduct-item-information{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}

.myCart__listproduct-item-title{
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 10px;
}

.myCart__listproduct-item-size{
    display: flex;
    width: 220px;
    height: 30px;
    justify-content: space-between;
    align-items: center;
}

.listproduct-item-size-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.size-text1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70px;
    height: 20px;
    font-size: 16px;
    font-weight: 700;
    color: var(--text-color);
}

.size-text2{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 15px;
    height: 20px;
    font-size: 16px;
    font-weight: 700;
    color: var(--text-color);
}

.listproduct-item-size-sizing{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 15px;
    height: 20px;
    font-size: 16px;
    font-weight: 700;
    color: var(--text-color);
}

.myCart__listproduct-item-quantity{
    display: flex;
    width: 220px;
    height: 30px;
    justify-content: space-between;
    align-items: center;
}

.listproduct-item-quantity-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quantity-text1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70px;
    height: 20px;
    font-size: 16px;
    font-weight: 700;
    color: var(--text-color);
}

.quantity-text2{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 15px;
    height: 20px;
    font-size: 16px;
    font-weight: 700;
    color: var(--text-color);
}

.listproduct-item-quantity-qut{
    display: flex;
    width: 100px;
    height: 20px;
    justify-content: space-between;
    align-items: center;
}

.text1{
    width: 10px;
    height: 20px;
    font-size: 16px;
    font-weight: 700;
    color: var(--text-color);
}

.text2{
    width: 10px;
    height: 20px;
    font-size: 16px;
    font-weight: 700;
    color: var(--text-color);
}

.text3{
    width: 10px;
    height: 20px;
    font-size: 16px;
    font-weight: 700;
    color: var(--text-color);
}

.myCart__listproduct-item-priceAndDelete{
    display: flex;
    width: 300px;
    height: 65px;
    justify-content: space-between;
    align-items: end;
}

.item-price{
    font-size: 42px;
    font-weight: 700;
    color: var(--orange-color);
    display: flex;
    align-items: end;
    justify-content: left;
    margin-bottom: -5px;
    padding-right: 10px;
}

.item-delete{
    display: flex;
    width: 180px;
    justify-content: space-between;
    align-items: end;
}

.item-delete-deleted{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    color: var(--orange-color);
    border: 1px solid var(--orange-color);
    border-radius: 8px;
}

.deleted-icon{
    font-size: 18px;
    color: var(--orange-color);
}

.item-delete-wishlist{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 110px;
    height: 35px;
    text-decoration: none;
    color: var(--orange-color);
    border: 1px solid var(--orange-color);
    border-radius: 8px;
}

.wishlist-text{
    font-size: 16px;
    font-weight: 700;
}

.wishlist-icon{
    font-size: 20px;
    color: var(--orange-color);
}

/* right */
.myCart-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 120px;
}

.myCart-right-coupon{
    background-color: #FFF;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    border-radius: 8px;
    margin-bottom: 20px;
}

.right-coupon-title{
    font-size: 24px;
    font-weight: 700;
    color: #11142D;
    margin-left: 40px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.right-coupon-input{
    margin-left: 40px;
    border: 1px solid #F86338;
    height: 56px;
    width: 80%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input-text{
    width: 100%;
    outline: none;
    border: none;
    margin-left: 15px;
}

.right-coupon-apply{
    margin-left: 40px;
}

.apply-button{
    background-color: #F86338;
    color: aliceblue;
    height: 48px;
    width: 95px;
    border-radius: 8px;
    border: none;
    margin-bottom: 10px;
}

.myCart-right-total{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.right-total-title{
    font-size: 24px;
    font-weight: 700;
    color: #11142D;
    margin-bottom: 25px;
}

.right-total-information{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding-bottom: 50px;
}

.total-information-item{
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.information-item-title{
    font-size: 16px;
    font-weight: 700;
    padding-right: 30px;
}

.information-item-text{
    font-size: 16px;
    font-weight: 400;
}

.total{
    font-weight: 700;
    padding-left: 30px;
}

.item-shipping{
    
}

.item-shipping-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item-shipping-text1{
    margin-bottom: 20px;
}

.item-shipping-text2{
    display: flex;
    justify-content: space-between;
}

.shipping-text2-line1{
    margin-right: 50px;
}

.shipping-text2-line2{
    color: #F86338;
    font-weight: 700;
}

.right-total-checkout{
    width: 100%;
    height: 56px;
}

.checkout-button{
    width: 100%;
    height: 56px;
    background-color: #F86338;
    color: aliceblue;
    border: none;
    border-radius: 8px;
}


/* Tablet - PC low resolution */
@media (min-width: 740px) and (max-width: 1023px) {
    
}

/* Mobile*/
@media (max-width: 739px) {
    /*Get in touch*/
    .get-in-touch-content{
        align-items: center;
        margin: auto 0;
    }
    .touch-content__title {
        margin: 0;
        margin-top: 20px;
        text-align: center;
    }
    .touch-content__description {
        text-align: center;
    }
    /*Start Blogs*/
    .our-articles__title {
        font-size: 30px;
    }
} 